/*body,img {
    background-image: url("images/background.png");
    background-color: #e0c1c1;
    margin-left: 2.5em;
    background-size: cover;
 background-repeat: no-repeat;
   } */

   /* nav bar */

   nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    color: beige;
    background-color: rgb(239, 171, 239);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }

  nav li {
    display: inline;
    width: 200px;
    padding: 6em;
  }

  nav a{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

nav a:hover{
  color: beige;
  transition: all 0.25s ease-out;

}

header {
  color: white;
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-image: url('images/leaf.jpeg');
  background-size: cover;
  text-align: center;
}
   

/* banner 

.banner {
  background-image: url(images/leaf.jpeg);
  padding-top: 5rem;
  height: 400px;
  background-size: cover;
  text-align: center;
  color: beige;
  font-weight:500;
}

.sub_banner{
  padding-top: 5rem;
  background-size: cover;
  background-color:cornflowerblue;
  text-align: center;
  color: beige;
  font-weight:500;
}*/

/* main body */

body{
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #e0e0e0;
}
h1, h2, h3 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  
}

h1 {
 font-size: 3.5rem; 
font-weight: 500;

}

h2, h3 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 200;
}


h3, p {
  text-align: left;
  padding: 10px;
  margin-left: 30px;
  }

  .intext-citation {
    margin-left: 30px
  }

  

  /*.background_image {
    width: 300px;
    height: 300px;
    mix-blend-mode: multiply;
    
  } */

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.head {
height: 2rem;
text-align: left;
color:white;
background-color: #d3d3d3;
background-color:grey;
}

.image {
    max-height: 100px;
    max-width: 100px;
}

td{
    padding: 1.0em;
    border-bottom: 1px solid #d3d3d3;
}
  /*Recipes*/
  .Recipes {
    position: relative;
    text-align: center;
    color: black;
  }

  figcaption {
    color: black;
    text-align: center;
  }

  figcaption:hover{
    color: purple;
    transition: all 0.25s ease-out;
    text-decoration: underline;
  
  }

  .video{
    margin-left: 5em;
  }

  /*Do not use float or position property (see this in chap 7- Flexbox is better */

 /* .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Clear floats after image containers and probably add a flex property for the cards
  .row::after {
    content: "";
    clear: both;
    display: table;
  }*/

  .column{
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .link-recipes{
    display: flex;
    flex-wrap: wrap;
  }

  .video-recipes{
    display: flex;
    flex-wrap: wrap;
    padding-right: 1em;
    padding-left: 1em;
  }




  .recipes img{
      opacity: 0.5;
      width: 200px;  
  }

  .recipes img:hover {
    opacity: 1.0;
  }
  
  
li img{
   max-width: 1600px;
   max-height: 400px; 
   opacity: 0.5;
}

li{
  display: block;
}

/*.benefit1 {
    position: absolute;
    top: 200px;
    left: 50px; 
}

.benefit_2 {
    position: absolute;
    top: 700px;
    left: 50px; 
}*/

/* footer */
footer p{
  color: black;
}

button {
  background-color: gray;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  animation-duration: 0s;
}

button:hover {
  background-color: plum;
  color: white;
}


