/* index.html/ Home page */
   /* nav bar */

   /* will try using java script and css here so that once window size is decreased, then the navbar can be drop down */

  nav {
    top: 0;
    left: 0;
    width: 100%; 
    color: beige;
    background-color: rgb(239, 171, 239);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
  } 

  nav li {
    display: block;
    width: 200px;
    padding: 1.5em;
  }

  nav a{
    margin: 0;
    padding: 0;
    color: beige;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover{
  color: gray;
  transition: all 0.25s ease-out;

} 

/* header */

header {
  color: beige;
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-image: url('images/leaf.jpeg');
  background-size: cover;
  text-align: center;
}
   

/* main body */

body{
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #e0e0e0;
}
h1, h2, h3 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  
}

h1 {
 font-size: 3.5rem; 
font-weight: 500;

}

h2, h3 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: plum;
}


h3, p {
  text-align: left;
  padding: 10px;
  margin-left: 30px;
  }

  .intext-citation {
    margin-left: 30px
  }

  li{
    margin-left: 30px;
  }

  .container-fluid{
    margin-top: 2em;
  }

  .paragraph-6 img{
    width: 50%;
    margin: auto;
    max-height: 500px;
    max-width: 400px;
  }


/* Resources */

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.head {
height: 2rem;
text-align: left;
color:rgb(101, 95, 95);
font-weight: 600;
font-size: 20px;
}

.image {
    max-height: 100px;
    max-width: 100px;
}

td{
    padding: 1.0em;
    border-bottom: 1px solid #d3d3d3;
}

carousel-item img {
width: fixed;
height: fixed;
}
  /*Recipes*/

  .Recipes {
    display: flex;
    text-align: center;
    color: black;
  }

  figcaption {
    color: black;
    text-align: center;
  }

  figcaption:hover{
    color: purple;
    transition: all 0.25s ease-out;
    text-decoration: underline;
  
  }

  .video{
    margin-left: 5em;
  }


.thai{
padding-right: 2em;
}

.mexican{
  padding-right: 2em;
  }

  .link-recipes{
    display: flex;
    flex-wrap: wrap;
    padding-right: 1em;
    padding-left: 1em;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
    margin-top: 3em;
  }


  .video-recipes{
    display: flex;
    flex-wrap: wrap;
    padding-right: 1em;
    padding-left: 1em;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
  }




  .recipes img{
      opacity: 0.5;
      width: 200px;  
      border-radius: 25px
  }

  .recipes img:hover {
    opacity: 1.0;
  }
  
  
/*li img{
   max-width: 1600px;
   max-height: 400px; 
   opacity: 0.5;
}

li{
  display: inline;
}

/*.benefit1 {
    position: absolute;
    top: 200px;
    left: 50px; 
}

.benefit_2 {
    position: absolute;
    top: 700px;
    left: 50px; 
}*/

/* footer */
footer p{
  color: black;
}
footer{
  margin-left: 2em;
}

/*button {
  background-color: gray;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  animation-duration: 0s;
}

button:hover {
  background-color: plum;
  color: white;
} */


@media (min-width: 768px) {
nav a {
  display: inline;

  
}
@media (min-width: 992px) {
  nav a {
    display: inline;
  

  }
}


@media (min-width: 1400px) {
  nav a {
    display: inline;
    font-size: 1.5rem;
  }
}
} 
