/*body,img {
    background-image: url("images/background.png");
    background-color: #e0c1c1;
    margin-left: 2.5em;
    background-size: cover;
 background-repeat: no-repeat;
   } */

   h2{
    text-align: center;
  }
  .background_image {
    width: 300px;
    height: 300px;
    mix-blend-mode: multiply;
    
  } 

  /*Recipes*/
  .Recipes {
    position: relative;
    text-align: center;
    color: black;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .Recipes img{
      opacity: 0.5;   
  }

  .Recipes img:hover {
    opacity: 1.0;
  }
  
  li img{
      opacity: 0.5;
  }
li img:hover{
opacity: 1.0;
}
